{% extends 'base.html' %} 
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'blog/css/blog_view.css' %}">
<style>
    .mb-5 img {
        max-width: 100%;
        height: auto; 
        border-radius: 5px;  
    }
</style>
{% endblock stylesheet %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ blog.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"><img
                        class="mr-3 rounded-circle"
                        src="https://media.licdn.com/dms/image/C4E03AQFoO-34p4uCGQ/profile-displayphoto-shrink_800_800/0/1659822509525?e=2147483647&v=beta&t=7PCd1owhNl0djAt1tgUsNk3bq7-bT4uwydFjrRrH4rM"
                        alt="Generic placeholder image"
                        style="max-width: 50px"
                      />Posted on {{ blog.date_posted }} by {{ blog.author.username }}</div>
                    <!-- Post categories-->
                    {% for i in tags %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ i }}</a>
                    {% endfor %}
                </header>
                <!-- Preview image figure-->
                
                <figure class="mb-4"><img class="img-fluid rounded" src="{{blog.image_link}}" alt="blog header image" /></figure>
                
                <!-- Post content-->
                <section class="mb-5">
                    {{ blog_markdown|safe }}
                    <!-- <p class="fs-5 mb-4">{{ blog.content }}</p> -->
                    <!-- <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                    <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                    <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                    <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                    <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p> -->
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <h3 class="fw mb-5">{{ no }} Comments</h3>
                        <!-- Comment form-->
                        {% if user.is_authenticated %}
                        <form class="mb-4" method="post" action="{% url 'post_comments' blog.id user.id %}" ><textarea class="form-control" name="comment" rows="3" placeholder="Join the discussion and leave a comment!"></textarea><br>
                        {% csrf_token %}
                        
                        <button class="btn btn-primary">Comment</button>
                        {% else %}
                        you have to <a href="/login">login</a> or <a href="/register">Signup</a> to post comments.
                        <br><br>
                        {% endif %}
                        </form>
                        <!-- Single comment-->
                        {% for i in comments %}
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{ i.author.username }}</div>
                                {{ i.content }}

                            </div>
                        </div>
                        <br>
                        {% endfor %}
                        
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Side widget-->
            <div class="card mb-4 bg-light">
                <div class="text-center mt-3">
                    <span><br><br></span>
                </div>
                
                    <div class="text-center">
                        <img src="https://media.licdn.com/dms/image/C4E03AQFoO-34p4uCGQ/profile-displayphoto-shrink_800_800/0/1659822509525?e=2147483647&v=beta&t=7PCd1owhNl0djAt1tgUsNk3bq7-bT4uwydFjrRrH4rM" width="100" class="rounded-circle">
                    </div>
                    
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Rimmel Asghar</h5>
                        <span>Software Engineering Student @UIT</span>
                        
                        <div class="px-4 mt-1">
                            <p class="fonts">Meet Rimmel Asghar, An enthusiastic and driven Software Engineering student at @UIT, based in Karachi. With a passion for software development and a thirst for knowledge, Rimmel is always looking to learn and grow in the field of Software Engineering. With a keen interest in Big Data technologies, Rimmel is poised to make a big impact in the industry.</p>
                        
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <a href="https://github.com/rimmelasghar" target="_blank"><i class="fa fa-github mr-2"></i></a>
                            <a href="https://www.behance.net/rimmelasghar" target="_blank"><i class="fa fa-behance mr-2"></i></a>
                            <a href="https://medium.com/@rimmelasghar3" target="_blank"><i class="fa fa-medium mr-2"></i></a>
                            <a href="https://www.linkedin.com/in/rimmelasghar/" target="_blank"><i class="fa fa-linkedin mr-2"></i></a>
                          </div>

                          <br><br>

            </div>
        </div>




    </div>
</div>
{% endblock %}