{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'blog/css/card.css' %}">
{% endblock stylesheet %}
<div class="col text-center mb-5">
  <h1 class="display-4">"Connecting people through creativity"</h1>
<p class="lead">~Rimmel Asghar</p>
</div>
</div>
<div class="row">
{% for blog in post %}
<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <div
    class="card text-white card-has-bg click-col"
    style="
      background-image: url('https://source.unsplash.com/600x900/?tech,street');
    "
  >
    <img
      class="card-img d-none"
      src="https://source.unsplash.com/600x900/?tech,street"
      alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
    />
    <div class="card-img-overlay d-flex flex-column">
      <div class="card-body">
        <small class="card-meta mb-2">Pen & Pixels</small>
        <h4 class="card-title mt-0">
          <a class="text-white" href="{% url 'getblog' blog.id %}"
            >{{ blog.title }}</a
          >
        </h4>
        <small><i class="far fa-clock"></i> {{ blog.date_posted }}</small>
      </div>
      <div class="card-footer">
        <div class="media">
          <img
            class="mr-3 rounded-circle"
            src="https://media.licdn.com/dms/image/C4E03AQFoO-34p4uCGQ/profile-displayphoto-shrink_800_800/0/1659822509525?e=2147483647&v=beta&t=7PCd1owhNl0djAt1tgUsNk3bq7-bT4uwydFjrRrH4rM"
            alt="Generic placeholder image"
            style="max-width: 50px"
          />
          <div class="media-body">
            <h6 class="my-0 text-white d-block">{{ blog.author.username }}</h6>
            <small><i class="fa fa-heart" aria-hidden="true"></i>  {{ blog.likes }} likes</small><br>
            <small><i class="fa fa-eye" aria-hidden="true"></i>  {{ blog.views }} views</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}




</div>
{% endblock %}
