{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<style>
    body{color: #000;overflow-x: hidden;height: 100%;background-image: url("https://i.imgur.com/GMmCQHC.png");background-repeat: no-repeat;background-size: 100% 100%}.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}.blue-text{color: #00BCD4}.form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}
</style>
{% endblock stylesheet %}
{% block content %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Ready to share your idea with the world</h3>
            <p class="blue-text">Just add something Amazing<br> so that we can personalize the right experience for you.</p>
            <div class="card bg-light">
                <h5 class="text-center mb-4">Write a Blog</h5>
                <form method="post" action="{% url 'write_blog' user.id %}" class="form-card" >
                    {% csrf_token %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Heading<span class="text-danger"> *</span></label> <input type="text" id="fname" name="title" placeholder="Enter your blog heading" onblur="validate(1)"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tags<span class="text-danger"> *</span></label> <input type="text" id="lname" name="tags" placeholder="Enter Tags (for ex: #tech)" onblur="validate(2)"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Image Link<span class="text-danger"> *</span></label> <input type="text" id="email" name="image_link" placeholder="Enter Image link" onblur="validate(3)"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Blog Content<span class="text-danger"> *</span></label> <textarea type="text" id="ans" name="content" placeholder="add Content in Markdown Syntax" onblur="validate(6)"> </textarea></div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-dark">Post</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}